:root {
  --color-active: white;
  --header-bgc: white;
  --nav-links-color: white;
  --nav-links-color-active: white;
  --nav-links-bg: white;
  --folder-circle-color: white;
  --folder-circle-border: white;
  --folder-circle-bg: white;
  --nav-form-color: white;
  --nav-form-bg: white;
  --buttons-color: white;
  --buttons-bg: white;
  --buttons-border-color: white;
  --buttons-active-color: white;
  --buttons-active-bg: white;
  --buttons-active-border: white;
  --search-color: white;
  --search-bg: white;
  --search-border: white;
  --search-placeholder-color: white;
  --search-icon-color: white;
  --burger-search-bg: white;
  --burger-search-color: white;
  --burger-search-icon: white;
  --burger-search-close: white;
  --burger-search-placeholder: white;
  --burger-title-color: white;
  --burger-title-bg: white;
  --burger-item-color: white;
  --burger-item-bg: white;
  --burger-item-parent-color: white;
  --burger-item-parent-bg: white;
  --burger-item-numbers-color: white;
  --burger-item-numbers-bg: white;
  --burger-item-numbers-active-color: white;
  --burger-item-numbers-active-bg: white;
  --burger-item-live-color: white;
  --burger-item-live-bg: white;
  --burger-item-border-color: white;
  --burger-item-icon: white;
  --burger-item-icon-active: white;
  --burger-item-arrow: white;
  --burger-item-arrow1-active: white;
  --burger-item2-color: white;
  --burger-item2-bg: white;
  --burger-item2-border-color: white;
  --burger-item3-color: white;
  --burger-item3-bg: white;
  --burger-item3-color-active: white;
  --burger-item3-bg-active: white;
  --burger-item3-border: white;
  --folder-bg: white;
  --folder-bet-cross: white;
  --folder-bet-header-color: white;
  --folder-bet-header-bg: white;
  --folder-bet-coefficient-color: white;
  --folder-bet-coefficient-bg: white;
  --folder-bet-text-color: white;
  --folder-bet-text-bg: white;
  --folder-bet-border: white;
  --folder-buttons-color: white;
  --folder-buttons-bg: white;
  --folder-login-color: white;
  --folder-login-bg: white;
  --folder-balance-color: white;
  --folder-total-color: white;
  --folder-stake-color: white;
  --folder-stake-border: white;
  --folder-stake-buttons-color: white;
  --folder-stake-buttons-bg: white;
  --sports-color: white;
  --sports-bg: white;
  --sports-row-bg: white;
  --sports-row-border: white;
  --sports-item-icon: white;
  --sports-item-numbers-color: white;
  --sports-item-numbers-bg: white;
  --league-color: white;
  --league-bg: white;
  --league-row-bg: white;
  --league-row-border: white;
  --league-item-icon: white;
  --league-item-numbers-color: white;
  --league-item-numbers-bg: white;
  --chat-color: white;
  --chat-bg: white;
  --chat-time: white;
  --chat-submit-bg: white;
  --game-center-color: white;
  --game-center-bg: white;
  --game-center-button-bg: white;
  --game-center-button-border: white;
  --game-center-button-active-color: white;
  --game-center-button-active-bg: white;
  --game-center-button-active-border: white;
  --live98-draw-color: white;
  --live98-draw-bg: white;
  --matches-bg: white;
  --matches-container-bg: white;
  --matches-nav-color: white;
  --matches-nav-bg: white;
  --matches-nav-border: white;
  --matches-nav-item-border: white;
  --matches-nav-item-active-color: white;
  --matches-nav-item-active-bg: white;
  --matches-list-li-bg: white;
  --matches-list-li-color: white;
  --matches-list-li-arrow-bg: white;
  --matches-selections-bg: white;
  --matches-selection-color: white;
  --matches-selection-bg: white;
  --matches-selection-border: white;
  --matches-selection-active-color: white;
  --matches-selection-active-bg: white;
  --matches-selection-active-border: white;
  --main-bg: white;
  --title-color: white;
  --title-bg: white;
  --item-color: white;
  --item-bg: white;
  --switcher-secondary-color: white;
  --switcher-secondary-bg: white;
  --switcher-primary-color: white;
  --switcher-primary-bg: white;
  --factor-color: white;
  --factor-bg: white;
  --factor-border-color: white;
  --factor-active-color: white;
  --factor-active-bg: white;
  --factor-active-border: white;
  --factor-icon-color: white;
  --factor-icon-bg: white;
  --factor-icon-border: white;
  --factor-icon-active-color: white;
  --factor-icon-active-border: white;
  --factor-icon-active-bg: white;
  --match-team-score-color: white;
  --match-team-score-bg: white;
  --match-team-time-color: white;
  --match-team-time-bg: white;
  --upcoming-question: white;
  --upcoming-dates-color: white;
  --upcoming-rating-color: white;
  --upcoming-results-color: white;
  --upcoming-results-bg: white;
  --upcoming-triangle-color: white;
  --upcoming-card-color: white;
  --upcoming-card-bg: white;
  --upcoming-card-number-color: white;
  --upcoming-card-number-bg: white;
  --upcoming-card-available: white;
  --upcoming-card-coeficient-color: white;
  --upcoming-card-coeficient-bg: white;
  --upcoming-card-coeficient-border: white;
  --login-user-icon: white;
  --login-bg: white;
  --login-title-color: white;
  --login-input-color: white;
  --login-input-border: white;
  --login-input-bg: white;
  --login-forgot-color: white;
  --login-remember-color: white;
  --login-checkbox-bg: white;
  --login-checkbox-border: white;
  --login-checkbox-checked-bg: white;
  --login-checkbox-checked-icon: white;
  --login-button-color: white;
  --login-button-bg: white;
  --login-create-color: white;
  --login-settings-hidden-text-color: white;
  --login-settings-item-arrow: white;
  --login-settings-item-icon-color: white;
  --login-settings-item-icon-bg: white;
  --login-settings-item-color: white;
  --login-settings-item-border: white;
  --login-settings-item-bg: white;
  --login-settings-seconds: white;
  --login-settings-submenu-bg: white;
  --login-settings-subitem-color: white;
  --login-settings-subitem-active-color: white;
  --login-settings-subitem-active-bg: white;
  --login-settings-subitem-icon: white;
  --login-balance-bg: white;
  --login-balance-icon: white;
  --login-balance-title: white;
  --login-balance-money: white;
  --login-menu-item-color: white;
  --login-menu-item-icon: white;
  --login-menu-item-border: white;
  --login-loader-bg: white;
  --betslip-notification-bg: white;
  --betslip-notification-top-color: white;
  --range-bg: white;
  --range-fill-in: white;
  --range-circle: white;
  --range-circle-border: white;
  --inputs-wrapper-bg: white;
  --inputs-title-color: white;
  --inputs-title-bg: white;
  --inputs-body-bg: white;
  --inputs-body-border: white;
  --inputs-input-title: white;
  --inputs-input-hide-title: white;
  --inputs-input-icon: white;
  --inputs-input-special-color: white;
  --inputs-input-special-placeholder: white;
  --inputs-input-light-placeholder: white;
  --inputs-input-special-bg: white;
  --inputs-input-special-border: white;
  --inputs-input-special-arrow: white;
  --inputs-input-special-arrow-bg: white;
  --inputs-input-default-color: white;
  --inputs-input-default-placeholder: white;
  --inputs-input-default-bg: white;
  --inputs-input-default-border: white;
  --inputs-input-default-arrow: white;
  --inputs-input-default-arrow-bg: white;
  --inputs-button-color: white;
  --inputs-button-bg: white;
  --calendar-button-color: white;
  --calendar-button-bg: white;
  --calendar-nav-border: white;
  --calendar-nav-border-active: white;
  --calendar-nav-item-color: white;
  --calendar-nav-item-bg: white;
  --calendar-nav-item-active-color: white;
  --calendar-labels-bg: white;
  --calendar-labels-color: white;
  --calendar-labels-border: white;
  --calendar-list-item-bg-odd: white;
  --calendar-list-item-bg-even: white;
  --calendar-list-item-color: white;
  --calendar-list-item-icon-color: white;
  --calendar-list-item-date-border: white;
  --calendar-list-item-date-bg: white;
  --sailing-button-border: white;
  --statements-wrapper-bg: white;
  --statements-nav-item-color: white;
  --statements-nav-item-bg: white;
  --statements-nav-item-border: white;
  --statements-nav-icon-color: white;
  --statements-nav-icon-bg: white;
  --statements-nav-item-active-color: white;
  --statements-nav-item-active-bg: white;
  --statements-nav-item-active-border: white;
  --statements-item-bg: white;
  --statements-credit-color: white;
  --statements-transaction-color: white;
  --statements-item-color: white;
  --statements-item-border: white;
  --statements-item-header-bg: white;
  --statements-item-text-highlighted: white;
  --statements-item-date-color: white;
  --statements-item-date-bg: white;
  --statements-receipt-color: white;
  --statements-receipt-bg: white;
  --bets-calendar-color: white;
  --bets-calendar-bg: white;
  --bets-calendar-arrows: white;
  --bets-item-color: white;
  --bets-item-bg: white;
  --bets-item-border: white;
  --bets-item-header-bg: white;
  --bets-item-header-color: white;
  --bets-selection-color: white;
  --bets-selection-border: white;
  --bets-selection-opened-border: white;
  --bets-selection-bg: white;
  --bets-arrow-bg: white;
  --bets-credit-color: white;
  --bets-transaction-color: white;
  --bets-item-text-highlighted: white;
  --bets-item-date-color: white;
  --bets-item-date-bg: white;
  --result-opened-wrapper-bg: white;
  --result-spoiler-arrow: white;
  --result-spoiler-color: white;
  --result-spoiler-bg: white;
  --switcher-sports-color: white;
  --switcher-sports-bg: white;
  --switcher-live-color: white;
  --switcher-live-bg: white;
}

$black: #000000;
$white: #ffffff;
$font-family-primary: "Roboto", sans-serif;

$color-active: var(--color-active);
$header-bgc: var(--header-bgc);
$nav-links-color: var(--nav-links-color);
$nav-links-color-active: var(--nav-links-color-active);
$nav-links-bg: var(--nav-links-bg);
$folder-circle-color: var(--folder-circle-color);
$folder-circle-border: var(--folder-circle-border);
$folder-circle-bg: var(--folder-circle-bg);
$nav-form-color: var(--nav-form-color);
$nav-form-bg: var(--nav-form-bg);
$buttons-color: var(--buttons-color);
$buttons-bg: var(--buttons-bg);
$buttons-border-color: var(--buttons-border-color);
$buttons-active-color: var(--buttons-active-color);
$buttons-active-bg: var(--buttons-active-bg);
$buttons-active-border: var(--buttons-active-border);
$search-color: var(--search-color);
$search-bg: var(--search-bg);
$search-border: var(--search-border);
$search-placeholder-color: var(--search-placeholder-color);
$search-icon-color: var(--search-icon-color);
$burger-search-bg: var(--burger-search-bg);
$burger-search-color: var(--burger-search-color);
$burger-search-icon: var(--burger-search-icon);
$burger-search-close: var(--burger-search-close);
$burger-search-placeholder: var(--burger-search-placeholder);
$burger-title-color: var(--burger-title-color);
$burger-title-bg: var(--burger-title-bg);
$burger-item-color: var(--burger-item-color);
$burger-item-bg: var(--burger-item-bg);
$burger-item-parent-color: var(--burger-item-parent-color);
$burger-item-parent-bg: var(--burger-item-parent-bg);
$burger-item-numbers-color: var(--burger-item-numbers-color);
$burger-item-numbers-bg: var(--burger-item-numbers-bg);
$burger-item-numbers-active-color: var(--burger-item-numbers-active-color);
$burger-item-numbers-active-bg: var(--burger-item-numbers-active-bg);
$burger-item-live-color: var(--burger-item-live-color);
$burger-item-live-bg: var(--burger-item-live-bg);
$burger-item-border-color: var(--burger-item-border-color);
$burger-item-icon: var(--burger-item-icon);
$burger-item-icon-active: var(--burger-item-icon-active);
$burger-item-arrow: var(--burger-item-arrow);
$burger-item-arrow1-active: var(--burger-item-arrow1-active);
$burger-item2-color: var(--burger-item2-color);
$burger-item2-bg: var(--burger-item2-bg);
$burger-item2-border-color: var(--burger-item2-border-color);
$burger-item3-color: var(--burger-item3-color);
$burger-item3-bg: var(--burger-item3-bg);
$burger-item3-color-active: var(--burger-item3-color-active);
$burger-item3-bg-active: var(--burger-item3-bg-active);
$burger-item3-border: var(--burger-item3-border);
$folder-bg: var(--folder-bg);
$folder-bet-cross: var(--folder-bet-cross);
$folder-bet-header-color: var(--folder-bet-header-color);
$folder-bet-header-bg: var(--folder-bet-header-bg);
$folder-bet-coefficient-color: var(--folder-bet-coefficient-color);
$folder-bet-coefficient-bg: var(--folder-bet-coefficient-bg);
$folder-bet-text-color: var(--folder-bet-text-color);
$folder-bet-text-bg: var(--folder-bet-text-bg);
$folder-bet-border: var(--folder-bet-border);
$folder-buttons-color: var(--folder-buttons-color);
$folder-buttons-bg: var(--folder-buttons-bg);
$folder-login-color: var(--folder-login-color);
$folder-login-bg: var(--folder-login-bg);
$folder-balance-color: var(--folder-balance-color);
$folder-total-color: var(--folder-total-color);
$folder-stake-color: var(--folder-stake-color);
$folder-stake-border: var(--folder-stake-border);
$folder-stake-buttons-color: var(--folder-stake-buttons-color);
$folder-stake-buttons-bg: var(--folder-stake-buttons-bg);
$sports-color: var(--sports-color);
$sports-bg: var(--sports-bg);
$sports-row-bg: var(--sports-row-bg);
$sports-row-border: var(--sports-row-border);
$sports-item-icon: var(--sports-item-icon);
$sports-item-numbers-color: var(--sports-item-numbers-color);
$sports-item-numbers-bg: var(--sports-item-numbers-bg);
$league-color: var(--league-color);
$league-bg: var(--league-bg);
$league-row-bg: var(--league-row-bg);
$league-row-border: var(--league-row-border);
$league-item-icon: var(--league-item-icon);
$league-item-numbers-color: var(--league-item-numbers-color);
$league-item-numbers-bg: var(--league-item-numbers-bg);
$chat-color: var(--chat-color);
$chat-bg: var(--chat-bg);
$chat-time: var(--chat-time);
$chat-submit-bg: var(--chat-submit-bg);
$game-center-color: var(--game-center-color);
$game-center-bg: var(--game-center-bg);
$game-center-button-bg: var(--game-center-button-bg);
$game-center-button-border: var(--game-center-button-border);
$game-center-button-active-color: var(--game-center-button-active-color);
$game-center-button-active-bg: var(--game-center-button-active-bg);
$game-center-button-active-border: var(--game-center-button-active-border);
$live98-draw-color: var(--live98-draw-color);
$live98-draw-bg: var(--live98-draw-bg);
$matches-bg: var(--matches-bg);
$matches-container-bg: var(--matches-container-bg);
$matches-nav-color: var(--matches-nav-color);
$matches-nav-bg: var(--matches-nav-bg);
$matches-nav-border: var(--matches-nav-border);
$matches-nav-item-border: var(--matches-nav-item-border);
$matches-nav-item-active-color: var(--matches-nav-item-active-color);
$matches-nav-item-active-bg: var(--matches-nav-item-active-bg);
$matches-list-li-bg: var(--matches-list-li-bg);
$matches-list-li-color: var(--matches-list-li-color);
$matches-list-li-arrow-bg: var(--matches-list-li-arrow-bg);
$matches-selections-bg: var(--matches-selections-bg);
$matches-selection-color: var(--matches-selection-color);
$matches-selection-bg: var(--matches-selection-bg);
$matches-selection-border: var(--matches-selection-border);
$matches-selection-active-color: var(--matches-selection-active-color);
$matches-selection-active-bg: var(--matches-selection-active-bg);
$matches-selection-active-border: var(--matches-selection-active-border);
$main-bg: var(--main-bg);
$title-color: var(--title-color);
$title-bg: var(--title-bg);
$item-color: var(--item-color);
$item-bg: var(--item-bg);
$switcher-secondary-color: var(--switcher-secondary-color);
$switcher-secondary-bg: var(--switcher-secondary-bg);
$switcher-primary-color: var(--switcher-primary-color);
$switcher-primary-bg: var(--switcher-primary-bg);
$factor-color: var(--factor-color);
$factor-bg: var(--factor-bg);
$factor-border-color: var(--factor-border-color);
$factor-active-color: var(--factor-active-color);
$factor-active-bg: var(--factor-active-bg);
$factor-active-border: var(--factor-active-border);
$factor-icon-color: var(--factor-icon-color);
$factor-icon-bg: var(--factor-icon-bg);
$factor-icon-border: var(--factor-icon-border);
$factor-icon-active-color: var(--factor-icon-active-color);
$factor-icon-active-border: var(--factor-icon-active-border);
$factor-icon-active-bg: var(--factor-icon-active-bg);
$match-team-score-color: var(--match-team-score-color);
$match-team-score-bg: var(--match-team-score-bg);
$match-team-time-color: var(--match-team-time-color);
$match-team-time-bg: var(--match-team-time-bg);
$upcoming-question: var(--upcoming-question);
$upcoming-dates-color: var(--upcoming-dates-color);
$upcoming-rating-color: var(--upcoming-rating-color);
$upcoming-results-color: var(--upcoming-results-color);
$upcoming-results-bg: var(--upcoming-results-bg);
$upcoming-triangle-color: var(--upcoming-triangle-color);
$upcoming-card-color: var(--upcoming-card-color);
$upcoming-card-bg: var(--upcoming-card-bg);
$upcoming-card-number-color: var(--upcoming-card-number-color);
$upcoming-card-number-bg: var(--upcoming-card-number-bg);
$upcoming-card-available: var(--upcoming-card-available);
$upcoming-card-coeficient-color: var(--upcoming-card-coeficient-color);
$upcoming-card-coeficient-bg: var(--upcoming-card-coeficient-bg);
$upcoming-card-coeficient-border: var(--upcoming-card-coeficient-border);
$login-user-icon: var(--login-user-icon);
$login-bg: var(--login-bg);
$login-title-color: var(--login-title-color);
$login-input-color: var(--login-input-color);
$login-input-border: var(--login-input-border);
$login-input-bg: var(--login-input-bg);
$login-forgot-color: var(--login-forgot-color);
$login-remember-color: var(--login-remember-color);
$login-checkbox-bg: var(--login-checkbox-bg);
$login-checkbox-border: var(--login-checkbox-border);
$login-checkbox-checked-bg: var(--login-checkbox-checked-bg);
$login-checkbox-checked-icon: var(--login-checkbox-checked-icon);
$login-button-color: var(--login-button-color);
$login-button-bg: var(--login-button-bg);
$login-create-color: var(--login-create-color);
$login-settings-hidden-text-color: var(--login-settings-hidden-text-color);
$login-settings-item-arrow: var(--login-settings-item-arrow);
$login-settings-item-icon-color: var(--login-settings-item-icon-color);
$login-settings-item-icon-bg: var(--login-settings-item-icon-bg);
$login-settings-item-color: var(--login-settings-item-color);
$login-settings-item-border: var(--login-settings-item-border);
$login-settings-item-bg: var(--login-settings-item-bg);
$login-settings-seconds: var(--login-settings-seconds);
$login-settings-submenu-bg: var(--login-settings-submenu-bg);
$login-settings-subitem-color: var(--login-settings-subitem-color);
$login-settings-subitem-active-color: var(--login-settings-subitem-active-color);
$login-settings-subitem-active-bg: var(--login-settings-subitem-active-bg);
$login-settings-subitem-icon: var(--login-settings-subitem-icon);
$login-balance-bg: var(--login-balance-bg);
$login-balance-icon: var(--login-balance-icon);
$login-balance-title: var(--login-balance-title);
$login-balance-money: var(--login-balance-money);
$login-menu-item-color: var(--login-menu-item-color);
$login-menu-item-icon: var(--login-menu-item-icon);
$login-menu-item-border: var(--login-menu-item-border);
$login-loader-bg: var(--login-loader-bg);
$betslip-notification-bg: var(--betslip-notification-bg);
$betslip-notification-top-color: var(--betslip-notification-top-color);
$range-bg: var(--range-bg);
$range-fill-in: var(--range-fill-in);
$range-circle: var(--range-circle);
$range-circle-border: var(--range-circle-border);
$inputs-wrapper-bg: var(--inputs-wrapper-bg);
$inputs-title-color: var(--inputs-title-color);
$inputs-title-bg: var(--inputs-title-bg);
$inputs-body-bg: var(--inputs-body-bg);
$inputs-body-border: var(--inputs-body-border);
$inputs-input-title: var(--inputs-input-title);
$inputs-input-hide-title: var(--inputs-input-hide-title);
$inputs-input-icon: var(--inputs-input-icon);
$inputs-input-special-color: var(--inputs-input-special-color);
$inputs-input-special-placeholder: var(--inputs-input-special-placeholder);
$inputs-input-light-placeholder: var(--inputs-input-light-placeholder);
$inputs-input-special-bg: var(--inputs-input-special-bg);
$inputs-input-special-border: var(--inputs-input-special-border);
$inputs-input-special-arrow: var(--inputs-input-special-arrow);
$inputs-input-special-arrow-bg: var(--inputs-input-special-arrow-bg);
$inputs-input-default-color: var(--inputs-input-default-color);
$inputs-input-default-placeholder: var(--inputs-input-default-placeholder);
$inputs-input-default-bg: var(--inputs-input-default-bg);
$inputs-input-default-border: var(--inputs-input-default-border);
$inputs-input-default-arrow: var(--inputs-input-default-arrow);
$inputs-input-default-arrow-bg: var(--inputs-input-default-arrow-bg);
$inputs-button-color: var(--inputs-button-color);
$inputs-button-bg: var(--inputs-button-bg);
$calendar-button-color: var(--calendar-button-color);
$calendar-button-bg: var(--calendar-button-bg);
$calendar-nav-border: var(--calendar-nav-border);
$calendar-nav-border-active: var(--calendar-nav-border-active);
$calendar-nav-item-color: var(--calendar-nav-item-color);
$calendar-nav-item-bg: var(--calendar-nav-item-bg);
$calendar-nav-item-active-color: var(--calendar-nav-item-active-color);
$calendar-labels-bg: var(--calendar-labels-bg);
$calendar-labels-color: var(--calendar-labels-color);
$calendar-labels-border: var(--calendar-labels-border);
$calendar-list-item-bg-odd: var(--calendar-list-item-bg-odd);
$calendar-list-item-bg-even: var(--calendar-list-item-bg-even);
$calendar-list-item-color: var(--calendar-list-item-color);
$calendar-list-item-icon-color: var(--calendar-list-item-icon-color);
$calendar-list-item-date-border: var(--calendar-list-item-date-border);
$calendar-list-item-date-bg: var(--calendar-list-item-date-bg);
$sailing-button-border: var(--sailing-button-border);
$statements-wrapper-bg: var(--statements-wrapper-bg);
$statements-nav-item-color: var(--statements-nav-item-color);
$statements-nav-item-bg: var(--statements-nav-item-bg);
$statements-nav-item-border: var(--statements-nav-item-border);
$statements-nav-icon-color: var(--statements-nav-icon-color);
$statements-nav-icon-bg: var(--statements-nav-icon-bg);
$statements-nav-item-active-color: var(--statements-nav-item-active-color);
$statements-nav-item-active-bg: var(--statements-nav-item-active-bg);
$statements-nav-item-active-border: var(--statements-nav-item-active-border);
$statements-item-bg: var(--statements-item-bg);
$statements-credit-color: var(--statements-credit-color);
$statements-transaction-color: var(--statements-transaction-color);
$statements-item-color: var(--statements-item-color);
$statements-item-border: var(--statements-item-border);
$statements-item-header-bg: var(--statements-item-header-bg);
$statements-item-text-highlighted: var(--statements-item-text-highlighted);
$statements-item-date-color: var(--statements-item-date-color);
$statements-item-date-bg: var(--statements-item-date-bg);
$statements-receipt-color: var(--statements-receipt-color);
$statements-receipt-bg: var(--statements-receipt-bg);
$bets-calendar-color: var(--bets-calendar-color);
$bets-calendar-bg: var(--bets-calendar-bg);
$bets-calendar-arrows: var(--bets-calendar-arrows);
$bets-item-color: var(--bets-item-color);
$bets-item-bg: var(--bets-item-bg);
$bets-item-border: var(--bets-item-border);
$bets-item-header-bg: var(--bets-item-header-bg);
$bets-item-header-color: var(--bets-item-header-color);
$bets-selection-color: var(--bets-selection-color);
$bets-selection-border: var(--bets-selection-border);
$bets-selection-opened-border: var(--bets-selection-opened-border);
$bets-selection-bg: var(--bets-selection-bg);
$bets-arrow-bg: var(--bets-arrow-bg);
$bets-credit-color: var(--bets-credit-color);
$bets-transaction-color: var(--bets-transaction-color);
$bets-item-text-highlighted: var(--bets-item-text-highlighted);
$bets-item-date-color: var(--bets-item-date-color);
$bets-item-date-bg: var(--bets-item-date-bg);
$result-opened-wrapper-bg: var(--result-opened-wrapper-bg);
$result-spoiler-arrow: var(--result-spoiler-arrow);
$result-spoiler-color: var(--result-spoiler-color);
$result-spoiler-bg: var(--result-spoiler-bg);

$switcher-sports-color: var(--switcher-sports-color);
$switcher-sports-bg: var(--switcher-sports-bg);
$switcher-live-color: var(--switcher-live-color);
$switcher-live-bg: var(--switcher-live-bg);
