@font-face {
  font-family: "OmegaIcons";
  src: url("../../../assets/fonts/OmegaIcons.eot");
  src: url("../../../assets/fonts/OmegaIcons.eot?#iefix") format("embedded-opentype"),
  url("../../../assets/fonts/OmegaIcons.woff") format("woff"),
  url("../../../assets/fonts/OmegaIcons.ttf") format("truetype"),
  url("../../../assets/fonts/OmegaIcons.svg#OmegaIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}
